* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #f3f2ef; }

header {
  background-color: #fff;
  height: 52px;
  position: sticky;
  top: 0; }
  header nav {
    max-width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 1400px) {
      header nav {
        max-width: 1600px; } }
    header nav .logo {
      margin-right: 8px; }
      header nav .logo a {
        display: flex; }
        header nav .logo a svg path {
          fill: #0a66c2; }
    header nav .search {
      flex: 1.4;
      height: 34px;
      position: relative; }
      @media screen and (max-width: 992px) {
        header nav .search {
          display: none; } }
      header nav .search input {
        width: 72%;
        height: inherit;
        background-color: #eef3f8;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        border: none;
        box-shadow: none;
        border-radius: 4px;
        padding: 0 8px 0 40px;
        transition: width 0.3s ease, padding 0.1s ease; }
        header nav .search input::-moz-placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input:-ms-input-placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input::placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input:focus {
          width: 95%;
          padding: 0 8px 0 60px;
          border: 1px solid #dce6f1; }
          header nav .search input:focus::-moz-placeholder {
            font-size: 16px; }
          header nav .search input:focus:-ms-input-placeholder {
            font-size: 16px; }
          header nav .search input:focus::placeholder {
            font-size: 16px; }
      header nav .search svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px; }
    header nav .menu {
      min-width: 200px;
      flex: 2;
      height: 100%;
      margin-left: 10px; }
      header nav .menu ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        header nav .menu ul li {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          header nav .menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            header nav .menu ul li a span {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.6);
              display: flex;
              justify-content: space-around;
              align-items: center; }
              @media screen and (max-width: 860px) {
                header nav .menu ul li a span {
                  display: none; } }
            header nav .menu ul li a svg {
              fill: rgba(0, 0, 0, 0.6); }
            header nav .menu ul li a img {
              width: 24px;
              height: 24px;
              border-radius: 50%; }
            header nav .menu ul li a i {
              color: rgba(0, 0, 0, 0.6); }
          header nav .menu ul li:nth-of-type(7) {
            border-right: 1px solid rgba(0, 0, 0, 0.3); }
          @media screen and (max-width: 490px) {
            header nav .menu ul li:nth-of-type(6), header nav .menu ul li:nth-of-type(7) {
              display: none; } }
          @media screen and (max-width: 600px) {
            header nav .menu ul li:nth-of-type(8) {
              display: none; } }
          header nav .menu ul li:nth-of-type(9) {
            display: none; }
            @media screen and (max-width: 600px) {
              header nav .menu ul li:nth-of-type(9) {
                display: flex; } }
          header nav .menu ul li:nth-of-type(1) {
            display: none; }
            @media screen and (max-width: 992px) {
              header nav .menu ul li:nth-of-type(1) {
                display: flex; } }
          header nav .menu ul li.active {
            border-bottom: 2px solid black; }
            header nav .menu ul li.active a svg {
              fill: black; }
            header nav .menu ul li.active a span {
              color: black; }
          header nav .menu ul li:hover a svg {
            fill: black; }
          header nav .menu ul li:hover a span {
            color: black; }
    header nav .banner {
      max-width: 125px;
      text-align: center; }
      header nav .banner a {
        font-size: 12px;
        color: #915907; }
      @media screen and (max-width: 600px) {
        header nav .banner {
          display: none; } }

.card, main .container .leftbar .content, main .container .center .content, main .container .rightbar .content {
  background-color: #fff;
  border-radius: 5px;
  padding: 12px; }

.stickycards, main .container .leftbar .content, main .container .rightbar .content {
  position: sticky;
  top: 62px; }

main {
  margin-top: 49px; }
  main .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 36px;
    display: grid;
    grid-template-columns: 1fr 2.4fr 1.4fr;
    grid-gap: 20px; }
    @media screen and (min-width: 1400px) {
      main .container {
        max-width: 1600px; } }
    @media screen and (max-width: 992px) {
      main .container {
        grid-template-columns: 2.4fr 1.4fr; } }
    @media screen and (max-width: 768px) {
      main .container {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 992px) {
      main .container .leftbar {
        grid-column: 2/3;
        grid-row: 1/2; } }
    @media screen and (max-width: 768px) {
      main .container .leftbar {
        grid-column: 1/3;
        grid-row: 1/2; } }
    @media screen and (max-width: 992px) {
      main .container .center {
        grid-column: 1/2;
        grid-row: 1/2; } }
    @media screen and (max-width: 768px) {
      main .container .center {
        grid-column: 1/3;
        grid-row: 2/3; } }
    main .container .center .content {
      padding: 24px;
      height: 500px; }
    @media screen and (max-width: 992px) {
      main .container .rightbar {
        grid-column: 1/2;
        grid-row: 2/3; } }
    @media screen and (max-width: 768px) {
      main .container .rightbar {
        grid-column: 1/3;
        grid-row: 3/4; } }
