* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #f3f2ef; }

header {
  background-color: #fff;
  height: 52px;
  position: sticky;
  top: 0;
  z-index: 9999; }
  header nav {
    max-width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 1400px) {
      header nav {
        max-width: 1600px; } }
    header nav .logo {
      margin-right: 8px; }
      header nav .logo a {
        display: flex; }
        header nav .logo a svg path {
          fill: #0a66c2; }
    header nav .search {
      flex: 1.4;
      height: 34px;
      position: relative; }
      @media screen and (max-width: 992px) {
        header nav .search {
          display: none; } }
      header nav .search input {
        width: 72%;
        height: inherit;
        background-color: #eef3f8;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        border: none;
        box-shadow: none;
        border-radius: 4px;
        padding: 0 8px 0 40px;
        transition: width 0.3s ease, padding 0.1s ease; }
        header nav .search input::-moz-placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input:-ms-input-placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input::placeholder {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        header nav .search input:focus {
          width: 95%;
          padding: 0 8px 0 60px;
          border: 1px solid #dce6f1; }
          header nav .search input:focus::-moz-placeholder {
            font-size: 16px; }
          header nav .search input:focus:-ms-input-placeholder {
            font-size: 16px; }
          header nav .search input:focus::placeholder {
            font-size: 16px; }
      header nav .search svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px; }
    header nav .menu {
      min-width: 200px;
      flex: 2;
      height: 100%;
      margin-left: 10px; }
      header nav .menu ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly; }
        header nav .menu ul li {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          header nav .menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            header nav .menu ul li a span {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.6);
              display: flex;
              justify-content: space-around;
              align-items: center; }
              @media screen and (max-width: 860px) {
                header nav .menu ul li a span {
                  display: none; } }
            header nav .menu ul li a svg {
              fill: rgba(0, 0, 0, 0.6); }
            header nav .menu ul li a img {
              width: 24px;
              height: 24px;
              border-radius: 50%; }
            header nav .menu ul li a i {
              color: rgba(0, 0, 0, 0.6); }
          header nav .menu ul li:nth-of-type(7) {
            border-right: 1px solid rgba(0, 0, 0, 0.3); }
          @media screen and (max-width: 490px) {
            header nav .menu ul li:nth-of-type(6), header nav .menu ul li:nth-of-type(7) {
              display: none; } }
          @media screen and (max-width: 600px) {
            header nav .menu ul li:nth-of-type(8) {
              display: none; } }
          header nav .menu ul li:nth-of-type(9) {
            display: none; }
            @media screen and (max-width: 600px) {
              header nav .menu ul li:nth-of-type(9) {
                display: flex; } }
          header nav .menu ul li:nth-of-type(1) {
            display: none; }
            @media screen and (max-width: 992px) {
              header nav .menu ul li:nth-of-type(1) {
                display: flex; } }
          header nav .menu ul li.active {
            border-bottom: 2px solid black; }
            header nav .menu ul li.active a svg {
              fill: black; }
            header nav .menu ul li.active a span {
              color: black; }
          header nav .menu ul li:hover a svg {
            fill: black; }
          header nav .menu ul li:hover a span {
            color: black; }
    header nav .banner {
      max-width: 125px;
      text-align: center; }
      header nav .banner a {
        font-size: 12px;
        color: #915907; }
      @media screen and (max-width: 600px) {
        header nav .banner {
          display: none; } }

.card, main .container .leftbar .profile, main .container .leftbar .stats, main .container .center .content, main .container .center .linkedinposts, main .container .rightbar .content, main .container .rightbar .banner {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08); }

.stickycards, main .container .leftbar .stats, main .container .rightbar .footer {
  position: sticky;
  top: 62px; }

main {
  margin-top: 49px; }
  main .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 36px;
    display: grid;
    grid-template-columns: 225px 12fr minmax(315px, 7fr);
    grid-gap: 2.4rem; }
    @media screen and (min-width: 1400px) {
      main .container {
        max-width: 1600px; } }
    @media screen and (max-width: 1100px) {
      main .container {
        grid-template-columns: 225px 1fr; } }
    @media screen and (max-width: 992px) {
      main .container {
        grid-template-columns: 225px 1fr; } }
    @media screen and (max-width: 768px) {
      main .container {
        grid-template-columns: 1fr; } }
    @media screen and (max-width: 1100px) {
      main .container .leftbar {
        grid-column: 1/2; } }
    @media screen and (max-width: 992px) {
      main .container .leftbar {
        grid-column: 1/2; } }
    @media screen and (max-width: 768px) {
      main .container .leftbar {
        grid-column: 1/2; } }
    main .container .leftbar .profile .header {
      position: relative;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-image: url("https://static-exp1.licdn.com/sc/h/9e0ckeb27mzi70ne80f4hv7il");
      background-repeat: no-repeat;
      padding-top: 75px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
      main .container .leftbar .profile .header a {
        text-align: center; }
        main .container .leftbar .profile .header a h4 {
          font-size: 15px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 5px; }
        main .container .leftbar .profile .header a:nth-of-type(1) {
          display: block;
          margin-bottom: 40px; }
          main .container .leftbar .profile .header a:nth-of-type(1) img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translatex(-50%);
            border: 2px solid white; }
        main .container .leftbar .profile .header a:hover {
          text-decoration: underline; }
      main .container .leftbar .profile .header p {
        font-size: 12px;
        opacity: 0.7;
        padding: 0 12px;
        text-align: center; }
    main .container .leftbar .profile .content {
      margin-top: 10px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      main .container .leftbar .profile .content a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px; }
        main .container .leftbar .profile .content a span {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.9); }
          main .container .leftbar .profile .content a span:nth-of-type(2) {
            color: #0a66c2;
            font-weight: 700; }
        main .container .leftbar .profile .content a:hover {
          background-color: lightgrey; }
        main .container .leftbar .profile .content a:nth-of-type(2):hover {
          text-decoration: underline; }
    main .container .leftbar .profile .footer {
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      main .container .leftbar .profile .footer a {
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        main .container .leftbar .profile .footer a span {
          font-size: 12px; }
          main .container .leftbar .profile .footer a span:nth-of-type(1) {
            color: black;
            opacity: 0.6; }
          main .container .leftbar .profile .footer a span:nth-of-type(2) {
            color: black;
            opacity: 0.8; }
      main .container .leftbar .profile .footer:hover {
        background-color: lightgrey; }
    main .container .leftbar .profile .footer-1 {
      padding: 12px 0;
      cursor: pointer; }
      main .container .leftbar .profile .footer-1 a {
        padding: 0 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        main .container .leftbar .profile .footer-1 a svg {
          fill: rgba(0, 0, 0, 0.5);
          margin-right: 5px; }
        main .container .leftbar .profile .footer-1 a span {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.7);
          font-weight: 400; }
      main .container .leftbar .profile .footer-1:hover {
        background-color: lightgrey; }
    main .container .leftbar .stats {
      margin-top: 20px;
      padding: 10px 0 0 0; }
      main .container .leftbar .stats .stats-top {
        padding: 0 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        main .container .leftbar .stats .stats-top a {
          display: block;
          font-size: 12px;
          color: #0a66c2;
          font-weight: 600;
          margin-bottom: 8px; }
          main .container .leftbar .stats .stats-top a:hover {
            text-decoration: underline; }
          main .container .leftbar .stats .stats-top a:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            main .container .leftbar .stats .stats-top a:nth-of-type(2) span:nth-of-type(2) {
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%; }
              main .container .leftbar .stats .stats-top a:nth-of-type(2) span:nth-of-type(2) svg {
                fill: rgba(0, 0, 0, 0.6); }
              main .container .leftbar .stats .stats-top a:nth-of-type(2) span:nth-of-type(2):hover {
                background-color: lightgrey; }
                main .container .leftbar .stats .stats-top a:nth-of-type(2) span:nth-of-type(2):hover svg {
                  fill: black; }
      main .container .leftbar .stats .stats-bottom {
        padding: 10px 12px;
        cursor: pointer;
        text-align: center; }
        main .container .leftbar .stats .stats-bottom a {
          font-weight: 600;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6); }
        main .container .leftbar .stats .stats-bottom:hover {
          background-color: lightgrey; }
    @media screen and (max-width: 1100px) {
      main .container .center {
        grid-column: 2/4; } }
    @media screen and (max-width: 992px) {
      main .container .center {
        grid-column: 2/4; } }
    @media screen and (max-width: 768px) {
      main .container .center {
        grid-column: 1/2; } }
    main .container .center .content {
      padding: 24px 24px 5px 24px; }
      main .container .center .content .post .post-top {
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        main .container .center .content .post .post-top img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 12px; }
        main .container .center .content .post .post-top input {
          flex: 1;
          height: 48px;
          border-radius: 48px;
          padding-left: 20px;
          border: 1px solid rgba(0, 0, 0, 0.1); }
          main .container .center .content .post .post-top input::-moz-placeholder {
            font-weight: 700;
            color: rgba(0, 0, 0, 0.4); }
          main .container .center .content .post .post-top input:-ms-input-placeholder {
            font-weight: 700;
            color: rgba(0, 0, 0, 0.4); }
          main .container .center .content .post .post-top input::placeholder {
            font-weight: 700;
            color: rgba(0, 0, 0, 0.4); }
      main .container .center .content .post .post-bottom {
        display: flex;
        align-items: center;
        justify-content: space-around; }
        main .container .center .content .post .post-bottom a {
          display: flex;
          align-items: center;
          height: 48px;
          padding: 0 7px;
          border-radius: 4px; }
          main .container .center .content .post .post-bottom a:hover {
            background-color: #e9e9e9; }
          main .container .center .content .post .post-bottom a span {
            color: rgba(0, 0, 0, 0.6);
            font-size: 14px;
            font-weight: 600;
            margin-left: 8px; }
          main .container .center .content .post .post-bottom a:nth-of-type(1) svg {
            fill: #70b5f9; }
          main .container .center .content .post .post-bottom a:nth-of-type(2) svg {
            fill: #7fc15e; }
          main .container .center .content .post .post-bottom a:nth-of-type(3) svg {
            fill: #eaae56; }
          main .container .center .content .post .post-bottom a:nth-of-type(4) svg {
            fill: #f5987e; }
    main .container .center .line {
      margin-top: 12px;
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      main .container .center .line > hr {
        flex: 1;
        margin-right: 8px;
        display: block;
        height: 1px;
        border: 0;
        background-color: rgba(0, 0, 0, 0.15); }
      main .container .center .line a {
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        font-weight: 400; }
        main .container .center .line a span {
          color: black;
          font-weight: 600; }
    main .container .center .linkedinposts {
      margin-top: 12px;
      padding: 12px; }
      main .container .center .linkedinposts .post-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 8px; }
        main .container .center .linkedinposts .post-head span {
          flex: 1;
          margin-left: 4px;
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6); }
        main .container .center .linkedinposts .post-head a:nth-of-type(1) {
          font-weight: 600;
          font-size: 13px;
          color: black; }
          main .container .center .linkedinposts .post-head a:nth-of-type(1):hover {
            color: #0a66c2;
            text-decoration: underline; }
        main .container .center .linkedinposts .post-head a:nth-of-type(2) {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          padding: 5px; }
          main .container .center .linkedinposts .post-head a:nth-of-type(2):hover {
            background-color: lightgrey; }
          main .container .center .linkedinposts .post-head a:nth-of-type(2) svg {
            fill: #666666; }
    @media screen and (max-width: 1100px) {
      main .container .rightbar {
        grid-column: 1/2; } }
    @media screen and (max-width: 992px) {
      main .container .rightbar {
        grid-column: 1/2; } }
    @media screen and (max-width: 768px) {
      main .container .rightbar {
        grid-column: 1/2; } }
    main .container .rightbar .content {
      padding: 12px; }
      main .container .rightbar .content .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px; }
        main .container .rightbar .content .title h3 {
          font-size: 16px;
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8); }
        main .container .rightbar .content .title a {
          display: flex; }
          main .container .rightbar .content .title a svg {
            fill: rgba(0, 0, 0, 0.6); }
            main .container .rightbar .content .title a svg:hover {
              fill: rgba(0, 0, 0, 0.9); }
      main .container .rightbar .content .follow {
        display: flex;
        align-items: center;
        margin-bottom: 10px; }
        main .container .rightbar .content .follow .inner-left {
          align-self: flex-start;
          margin-right: 10px; }
          main .container .rightbar .content .follow .inner-left a img {
            width: 48px;
            height: 48px;
            border-radius: 50%; }
        main .container .rightbar .content .follow .inner-right {
          flex: 1; }
          main .container .rightbar .content .follow .inner-right a {
            display: block; }
            main .container .rightbar .content .follow .inner-right a h3 {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.9); }
            main .container .rightbar .content .follow .inner-right a p {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.6); }
            main .container .rightbar .content .follow .inner-right a:nth-of-type(2) {
              margin-top: 8px;
              font-size: 16px;
              font-weight: 500;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 5px 10px;
              border: 1px solid rgba(0, 0, 0, 0.6);
              width: 100px;
              height: 30px;
              border-radius: 30px; }
              main .container .rightbar .content .follow .inner-right a:nth-of-type(2) svg {
                fill: rgba(0, 0, 0, 0.65);
                margin-right: 5px; }
              main .container .rightbar .content .follow .inner-right a:nth-of-type(2) span {
                color: rgba(0, 0, 0, 0.5); }
              main .container .rightbar .content .follow .inner-right a:nth-of-type(2):hover {
                background-color: lightgrey; }
      main .container .rightbar .content .more {
        margin-top: 10px; }
        main .container .rightbar .content .more a {
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          padding: 3px 3px; }
          main .container .rightbar .content .more a span {
            color: rgba(0, 0, 0, 0.6);
            margin-right: 5px;
            font-size: 14px;
            font-weight: 600; }
          main .container .rightbar .content .more a svg {
            fill: rgba(0, 0, 0, 0.6); }
          main .container .rightbar .content .more a:hover {
            background-color: lightgrey; }
    main .container .rightbar .banner {
      padding: 12px;
      margin-top: 15px;
      text-align: center; }
      main .container .rightbar .banner .banner-top {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        main .container .rightbar .banner .banner-top span {
          font-size: 12px;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.9); }
        main .container .rightbar .banner .banner-top a {
          display: flex; }
          main .container .rightbar .banner .banner-top a svg {
            margin-left: 5px; }
      main .container .rightbar .banner .banner-logo {
        margin-top: 12px; }
        main .container .rightbar .banner .banner-logo a:nth-of-type(1) {
          display: block;
          margin-bottom: 8px; }
          main .container .rightbar .banner .banner-logo a:nth-of-type(1) p {
            color: rgba(0, 0, 0, 0.55);
            font-size: 12px;
            font-weight: 400; }
        main .container .rightbar .banner .banner-logo a:nth-of-type(2) {
          display: inline-block;
          margin-right: 15px; }
          main .container .rightbar .banner .banner-logo a:nth-of-type(2) img {
            width: 70px;
            height: 70px;
            border-radius: 50%; }
        main .container .rightbar .banner .banner-logo a:nth-of-type(3) {
          display: inline-block; }
          main .container .rightbar .banner .banner-logo a:nth-of-type(3) img {
            width: 70px;
            height: 70px; }
      main .container .rightbar .banner > p {
        margin-top: 8px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        font-size: 13px;
        line-height: 20px; }
      main .container .rightbar .banner > a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        color: #0a66c2;
        border: 1px solid #0a66c2;
        font-size: 15px;
        font-weight: 600;
        height: 32px;
        padding: 0px 16px;
        margin-top: 10px; }
    main .container .rightbar .footer {
      padding: 12px;
      margin-top: 15px; }
      main .container .rightbar .footer .links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        main .container .rightbar .footer .links ul li {
          margin: .3rem .6rem; }
          main .container .rightbar .footer .links ul li a {
            display: flex;
            align-items: center;
            color: #56687a;
            font-size: 12px;
            font-weight: 400; }
            main .container .rightbar .footer .links ul li a:hover {
              text-decoration: underline;
              color: #0a66c2; }
            main .container .rightbar .footer .links ul li a svg {
              margin-left: 5px;
              width: 10px; }
      main .container .rightbar .footer .copyright {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 10px; }
        main .container .rightbar .footer .copyright svg {
          fill: #0a66c2;
          margin-right: 7px; }
        main .container .rightbar .footer .copyright span {
          color: rgba(0, 0, 0, 0.9);
          font-size: 12px;
          font-weight: 400; }
