 * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline:none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 html {
    scroll-behavior: smooth;
 }
 body {
   background-color: #f3f2ef;
 }
 header {
    background-color: #fff;
    height:52px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 9999;
    nav {
       max-width:1200px;
       height: inherit;
       margin-left:auto;
       margin-right:auto;
       padding: 0 36px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       @media screen and (min-width:1400px) {
         max-width:1600px;
       }

       .logo {
          margin-right:8px;
          a {
             display:flex;
             svg {
                path {
                  fill:#0a66c2;
                }
             }
          }
       }
       .search {
          flex:1.4;
          height:34px;
          position:relative;
          @media screen and (max-width:992px) {
             display:none;
          }
          input {
            width:72%;
            height:inherit;
            background-color: #eef3f8;
            color:rgba(0,0,0,0.6);
            font-size: 16px;
            border:none;
            box-shadow: none;
            border-radius: 4px;
            padding: 0 8px 0 40px;
            transition:width 0.3s ease, padding 0.1s ease;
            &::placeholder {
               font-size: 14px;
               color:rgba(0,0,0,0.6);
            }
            &:focus {
               width:95%;
               padding: 0 8px 0 60px;
               border:1px solid #dce6f1;
               &::placeholder {
                  font-size: 16px;
                  
               }
            }
          }
          svg {
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            left:15px;
          }
       }
       .menu {
          min-width:200px;
          flex:2;
          height: 100%;
          margin-left:10px;
          ul {
             height: 100%;
             display:flex;
             align-items: center;
             justify-content: space-evenly;
             li {
                flex:1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                   justify-content: center;
                   position: relative;
                   span{
                     font-size: 12px;
                     color:rgba(0,0,0,0.6);
                     display: flex;
                     justify-content: space-around;
                     align-items: center;
                     @media screen and (max-width:860px) {
                        display:none;
                     }
                     &.notifications {
                        position: absolute;
                        top:0;
                        right:0;
                        background-color: #cc1016;
                        color:white;
                        font-weight: 700;
                        width:16px;
                        height:16px;
                        border-radius: 50%;
                     }
                   }
                   svg {
                     fill:rgba(0,0,0,0.6);
                   }
                   img {
                      width:24px;
                      height:24px;
                      border-radius: 50%;
                   }
                   i {
                      color:rgba(0,0,0,0.6);
                   }
                }
                &:nth-of-type(7) {
                  border-right:1px solid rgba(0,0,0,0.3);
                }
                &:nth-of-type(6), &:nth-of-type(7) {
                  @media screen and (max-width:490px) {
                     display:none;
                  }
               }
                &:nth-of-type(8) {
                   @media screen and (max-width:600px) {
                      display:none;
                   }
                }
                &:nth-of-type(9) {
                  display:none;
                   @media screen and (max-width:600px) {
                      display:flex;
                   }
                }
                &:nth-of-type(1) {
                   display:none;
                   @media screen and (max-width:992px) {
                      display:flex;
                   }
                }
                &.active {
                   border-bottom: 2px solid rgba(0,0,0,1);
                   a {
                      svg {
                         fill:rgba(0,0,0,1);
                      }
                      span {
                        color:rgba(0,0,0,1);
                      }
                   }
                }
                &:hover {
                  a {
                     svg {
                        fill:rgba(0,0,0,1);
                     }
                     span:not(.notifications) {
                       color:rgba(0,0,0,1);
                     }
                  }
                }
             }
          }
       }
       .banner {
          max-width: 125px;
          text-align:center;
          a {
             font-size: 12px;
             color:#915907;
          }

          @media screen and (max-width:600px) {
            display:none;
         }
       }
    }
 }

 .card {
   background-color: #fff;
   border-radius:5px;
   box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.08);
 }
 .stickycards {
   position: -webkit-sticky;
   position: sticky;
   top:62px;
 }

 main {
    margin-top:49px;
    .container {
      max-width:1200px;
      margin-left:auto;
      margin-right:auto;
      padding: 0 36px;
      @media screen and (min-width:1400px) {
         max-width:1600px;
      }
      display: grid;
      grid-template-columns: 225px 12fr minmax(315px,7fr);
      grid-gap: 2.4rem;

      @media screen and (max-width:1100px) {
         grid-template-columns: 225px 1fr;
      }
      @media screen and (max-width:992px) {
         grid-template-columns: 225px 1fr;
      }
      @media screen and (max-width:768px) {
         grid-template-columns: 1fr;
      }
      
      .leftbar {
         @media screen and (max-width:1100px) {
            grid-column: 1/2;
         }
         @media screen and (max-width:992px) {
            grid-column: 1/2;
         }
         @media screen and (max-width:768px) {
            grid-column: 1/2;
         }

         .profile {
            @extend .card;
            .header {
               position: relative;
               padding-bottom:10px;
               border-bottom:1px solid rgba(0,0,0,0.1);
               background-image: url("https://static-exp1.licdn.com/sc/h/9e0ckeb27mzi70ne80f4hv7il");
               background-repeat: no-repeat;
               padding-top: 75px;
               border-top-right-radius: 5px;
               border-top-left-radius: 5px;
               a {
                  text-align: center;
                  h4 {
                     font-size: 15px;
                     color:rgba(0, 0, 0, 0.9);
                     margin-bottom:5px;
                  }
                  &:nth-of-type(1) {
                     display:block;
                     margin-bottom:40px;
                     img {
                        width:70px;
                        height:70px;
                        border-radius: 50%;
                        position: absolute;
                        top:25px;
                        left:50%;
                        transform: translatex(-50%);
                        border:2px solid white;
                     }
                  }
                  &:hover {
                     text-decoration: underline;
                  }
               }
               p {
                  font-size: 12px;
                  opacity:0.7;
                  padding:0 12px;
                  text-align: center;
               }
            }
            .content {   
               margin-top:10px;
               padding-bottom:12px;
               border-bottom:1px solid rgba(0,0,0,0.1);
               a {
                  display:flex;
                  justify-content: space-between;
                  align-items: center;
                  padding:5px 12px;

                  span {
                     font-size: 12px;
                     color:rgba(0, 0, 0, 0.9);
                     &:nth-of-type(2) {
                        color:#0a66c2;
                        font-weight: 700;
                     }
                  }
                  &:hover {
                     background-color: lightgrey;
                  }
                  &:nth-of-type(2):hover {
                     text-decoration: underline;
                  }
               }
            }
            .footer {
               padding:10px 0;
               border-bottom:1px solid rgba(0,0,0,0.1);
               a {
                  padding:0 12px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  span {
                     font-size: 12px;
                     &:nth-of-type(1) {
                        color:black;
                        opacity:0.6;
                     }
                     &:nth-of-type(2) {
                        color:black;
                        opacity:0.8;

                     }
                  }
               }
               &:hover {
                  background-color: lightgrey;
               }
            }
            .footer-1 {
               padding:12px 0;
               cursor:pointer;
               a {
                  padding: 0 12px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  svg {
                     fill:rgba($color: #000000, $alpha: 0.5);
                     margin-right:5px;
                  }
                  span {
                     font-size: 12px;
                     color:rgba($color: #000000, $alpha: 0.7);
                     font-weight: 400;
                  }
               }
               &:hover {
                  background-color: lightgrey;
               }
            }
         }
         .stats {
            @extend .card;
            @extend .stickycards;
            margin-top:20px;
            padding:10px 0 0 0;
            .stats-top {
               padding:0 12px;
               border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
               a {
                  display: block;
                  font-size: 12px;
                  color: #0a66c2;
                  font-weight: 600;
                  margin-bottom:8px;
                  &:hover {
                     text-decoration: underline;
                  }
                  &:nth-of-type(2) {
                     display:flex;
                     align-items: center;
                     justify-content: space-between;
                     span {
                        &:nth-of-type(2) {
                           width:25px;
                           height:25px;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           border-radius: 50%;
                           svg {
                              fill:rgba(0, 0, 0, 0.6);
                           }
                           &:hover {
                              background-color: lightgrey;
                              svg {
                                 fill:black;
                              }
                           }
                        }
                     }
                  }
               }
            }
            .stats-bottom {
               padding:10px 12px;
               cursor: pointer;
               text-align: center;
               a {
                  font-weight: 600;
                  font-size: 14px;
                  color:rgba(0, 0, 0, 0.6);
               }
               &:hover {
                  background-color: lightgrey;
               }
            }
         }
      }

      .center {
         @media screen and (max-width:1100px) {
            grid-column: 2/4;
         }
         @media screen and (max-width:992px) {
            grid-column: 2/4;
         }
         @media screen and (max-width:768px) {
            grid-column: 1/2;
         }
         .content {
            @extend .card;
            padding:24px 24px 5px 24px; 
            .post {
               .post-top {
                  display: flex;
                  align-items: center;
                  margin-bottom:10px;
                  img {
                     width:48px;
                     height:48px;
                     border-radius: 50%;
                     margin-right:12px;
                  }
                  input {
                     flex:1;
                     height:48px;
                     border-radius: 48px;
                     padding-left:20px;
                     border:1px solid rgba($color: #000000, $alpha: 0.1);
                     &::placeholder {
                        font-weight: 700;
                        color:rgba($color: #000000, $alpha: 0.4);
                     }
                  }
               }
               .post-bottom {
                  display: flex;
                  align-items: center;
                  justify-content: space-around;
                  a {
                     display:flex;
                     align-items: center;
                     height:48px;
                     padding:0 7px;
                     border-radius: 4px;
                     &:hover {
                        background-color: rgb(233, 233, 233);
                     }
                     span {
                        color:rgba(0, 0, 0, 0.6);
                        font-size: 14px;
                        font-weight: 600;
                        margin-left:8px;
                     }
                     &:nth-of-type(1) {
                        svg {
                           fill:#70b5f9;
                        }
                     }
                     &:nth-of-type(2) {
                        svg {
                           fill:#7fc15e;
                        }
                     }
                     &:nth-of-type(3) {
                        svg {
                           fill:#eaae56;
                        }
                     }
                     &:nth-of-type(4) {
                        svg {
                           fill:#f5987e;
                        }
                     }
                  }
               }
            }       
         }
         .line {
            margin-top:12px;
            padding:0 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >hr {
               flex:1;
               margin-right:8px;
               display: block;
               height: 1px;
               border:0;
               background-color: rgba(0,0,0,.15);
            }
            a {
               color:rgba(0, 0, 0, 0.6);
               font-size: 12px;
               font-weight: 400;
               span {
                  color:rgba(0, 0, 0, 1);
                  font-weight: 600;
               }
            }
         }
         .linkedinposts {
            @extend .card;
            margin-top:12px;
            padding:12px; 
            .post-head {
               display: flex;
               align-items: center;
               justify-content: space-between;
               border-bottom:1px solid rgba($color: #000000, $alpha: 0.2);
               padding-bottom: 8px;
               span {
                  flex:1;
                  margin-left:4px;
                  font-size: 12px;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.6);
               }
               a {
                  &:nth-of-type(1) {
                     font-weight: 600;
                     font-size: 13px;
                     color:black;
                     &:hover {
                        color:#0a66c2;
                        text-decoration: underline;
                     }
                  }
                  &:nth-of-type(2) {
                     display:flex;
                     align-items: center;
                     justify-content: center;
                     height:35px;
                     width:35px;
                     border-radius: 50%;
                     padding:5px;
                     &:hover {
                        background-color: lightgrey;
                     }
                     svg {
                        fill:rgb(102, 102, 102);
                     }
                  }
               }
            }
            .user {
               margin-top:8px;
               display:flex;
               align-items: center;
               justify-content: space-between;
               .user-img {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                     width:48px;
                     height:48px;
                     border-radius: 50%;
                     margin-right:8px;
                  }
               }
               .user-info {
                  flex:1;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  h3 {
                     color:rgba(0, 0, 0, 0.9);
                     font-size: 14px;
                     font-weight: 600;
                     &:hover {
                        color:#0a66c2;
                        text-decoration: underline;
                     }
                     span {
                        font-weight: 400;
                        color:rgba(0, 0, 0, 0.6);
                     }
                  }
                  >span {
                     font-size: 12px;
                     font-weight: 400;
                     color:rgba(0, 0, 0, 0.6);
                     &:nth-of-type(2) {
                        display: flex;
                        align-items: center;
                        span {
                           margin-right:4px;
                        }
                     }
                  }
               }
            }
            .post-content {
               margin-top:12px;
               p.realpost {
                  color: rgba(0, 0, 0, 0.9);
                  line-height:20px;
                  font-size: 14px;
                  font-weight: 400;
               }
               .effecticons {
                  display: flex;
                  align-items: center;
                  gap:4px;
                  padding-top:10px;
                  padding-bottom: 10px;
                  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                  span {
                     font-size: 12px;
                     color:rgba(0, 0, 0, 0.6);
                  }
                  a {
                     display: flex;
                  }
               }
            }
         }    
      }

      .rightbar {
         @media screen and (max-width:1100px) {
            grid-column: 1/2;
         }
         @media screen and (max-width:992px) {
            grid-column: 1/2;
         }
         @media screen and (max-width:768px) {
            grid-column: 1/2;
         }
         .content {
            @extend .card;
            padding:12px;  
            .title {
               display: flex;
               align-items: center;
               justify-content: space-between;
               margin-bottom: 15px;
               h3 {
                  font-size: 16px;
                  font-weight: 600;
                  color: rgba(0, 0, 0, 0.8);
               }
               a {
                  display: flex;
                  svg {
                     fill:rgba(0, 0, 0, 0.6);
                     &:hover {
                        fill:rgba(0, 0, 0, 0.9);
                     }
                  }
               }
            } 
            .follow {
               display: flex;
               align-items: center;
               margin-bottom:10px;
               .inner-left {
                  align-self: flex-start;
                  margin-right:10px;
                  a {
                     img {
                        width:48px;
                        height: 48px;
                        border-radius: 50%;
                     }
                  }
               }
               .inner-right {
                  flex:1;
                  a {
                     display: block;
                     h3 {
                        font-size: 14px;
                        color:rgba(0, 0, 0, 0.9);
                     }
                     p {
                        font-size: 12px;
                        color:rgba(0, 0, 0, 0.6);
                     }
                     &:nth-of-type(2) {
                        margin-top:8px;
                        font-size: 16px;
                        font-weight: 500;
                        display:flex;
                        align-items: center;
                        justify-content: flex-start; 
                        padding:5px 10px;
                        border:1px solid rgba(0, 0, 0, 0.6);
                        width:100px;
                        height:30px;
                        border-radius: 30px;
                        svg {
                           fill:rgba(0, 0, 0, 0.65);
                           margin-right:5px;
                        }
                        span {
                           color:rgba(0, 0, 0, 0.5);
                        } 
                        &:hover {
                           background-color: lightgrey;
                        } 
                     }
                  }
               }
            }
            .more {
               margin-top: 10px;
               a {
                  display:inline-flex;
                  justify-content: flex-start;
                  align-items: center;
                  padding:3px 3px;
                  span {
                     color:rgba(0, 0, 0, 0.6);
                     margin-right: 5px;
                     font-size: 14px;
                     font-weight: 600;
                  }
                  svg {
                     fill:rgba(0, 0, 0, 0.6);
                  }
                  &:hover {
                     background-color: lightgrey;
                  }
               }
            }
         }
         .banner {
            @extend .card;
            padding:12px; 
            margin-top:15px;
            text-align: center;
            .banner-top {
               display:flex;
               align-items: center;
               justify-content: flex-end;
               span {
                  font-size: 12px;
                  font-weight: 400;
                  color:rgba(0, 0, 0, 0.9);
               }
               a {
                  display: flex;
                  svg {
                     margin-left:5px;
                  }
               }
            }
            .banner-logo {
               margin-top:12px;
               a {
                  
                  &:nth-of-type(1) {
                     display: block;
                     margin-bottom:8px;
                     p {
                        color:rgba(0, 0, 0, 0.55);
                        font-size: 12px;
                        font-weight: 400;
                     }
                  }
                  &:nth-of-type(2) {
                     display: inline-block;
                     margin-right:15px;
                     img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                     }
                  }
                  &:nth-of-type(3) {
                     display: inline-block;
                     img {
                        width: 70px;
                        height: 70px;
                     }
                  }
               }
            }
            >p {
               margin-top:8px;
               color: rgba(0, 0, 0, 0.65);
               font-weight: 400;
               font-size: 13px;
               line-height: 20px;
            }
            >a {
               display: inline-flex;
               align-items: center;
               justify-content: center;
               border-radius: 16px;
               color: rgb(10, 102, 194);
               border: 1px solid rgb(10, 102, 194);
               font-size: 15px;
               font-weight: 600;
               height: 32px;
               padding: 0px 16px;
               margin-top:10px;
            }
         }
         .footer {
            @extend .stickycards;
            padding:12px; 
            margin-top:15px;
            .links {
               ul {
                  display: flex;
                  flex-wrap: wrap;
                  // gap:10px 15px;
                  justify-content: center;
                  li {
                     margin: .3rem .6rem;
                     // margin-right:12px;
                     a {
                        display: flex;
                        align-items: center;
                        color:rgb(86, 104, 122);
                        font-size: 12px;
                        font-weight: 400;
                        &:hover {
                           text-decoration: underline;
                           color:rgb(10, 102, 194);
                        }
                        svg {
                           margin-left:5px;
                           width:10px;
                        }
                     }
                  }
               }
            }
            .copyright {
               display: flex;
               align-items: flex-end;
               justify-content: center;
               margin-top:10px;
               svg {
                  fill:rgb(10, 102, 194);
                  margin-right:7px;
               }
               span {
                  color:rgba(0, 0, 0, 0.9);
                  font-size: 12px;
                  font-weight: 400;
               }
            }
         }
      }
    }
 }